*{
  background-color: black;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  color: white;
}
.homePage{
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  color: white;
}